<h2>Your Search Results</h2>

<% if @locations and @locations.any? %>
  <p>(<em><%= link_to 'View These Results On A Map', params.merge(:format => :map) %></em>)</p>

  <ul id="hotspot-list">
    <%= render :collection => @locations, :partial => 'locations/location' %>
  </ul>
<% end %>