<% if @sidebar_title %>
<div class="sidebar">
  <h3><%=h @sidebar_title %></h3>

  <ul>
    <% @sidebar_locations.each do |location| %>
      <li><%= link_to h(location.name), location_path(location) %></li>
    <% end %>
  </ul>
</div>
<% end %>
