<h2><%= SITE_NAME %> News Feeds</h2>

<p>We offer a number of XML-based news feeds for this site. They'll help you keep up to date with what's going on without having 
    to check the site every day. If you're new to the concept of feeds, 
    <a href="http://news.bbc.co.uk/2/hi/help/3223484.stm">the BBC have a good introduction</a>.</p>

<p>Your options are:</p>

<h3>Locations</h3>

<p>New and updated locations: <a href="/atom/locations">Atom 1.0</a> or <a href="/rss1/locations">RSS 1</a>.</p>

<h3>Comments</h3>

<p>Comments and trackbacks about locations: <a href="/atom/comments">Atom 1.0</a> or <a href="/rss1/comments">RSS 1</a>.</p>

<p>We also have feeds for the comments on each individual hotspot so that you can keep track of locations you have a 
    particular interest in. You can get that by switching 'view' to 'feed' in the location URL. ie: 
    <a href="http://grwifi.net/location/feed/common-ground">http://grwifi.net/location/feed/common-ground</a>.</p>

<h3>News</h3>

<p>News about this site and WiFi in Grand Rapids: <a href="/atom/news">Atom 1.0</a> or <a href="/rss1/news">RSS 1</a>.</p>

<h3>Combined</h3>

<p>A combined feed of the latest from all these areas, sorted chronologically: <a href="/atom/">Atom 1.0</a> or  
    <a href="/rss1/">RSS 1</a>.</p>


