<h2>Using WiFi</h2>

<p>WiFi is a term that has come to be associated with connecting a computer to a network 
    or the internet wirelessly.</p>

<p>In order to use the wireless network locations listed on this site you will need a 
    computer with a wireless network card that supports the 802.11b or 802.11g protocol 
    (most do, you're likely to know if you have a wireless network card that uses a 
    different system).</p>

<p>Many of the locations listed provide instructions on how to connect your appropriately 
    equipped computer to their network. We hope to soon have more comprehensive instructions 
    on how to do that. For now, we can offer:</p>

<h3>Apple Mac OS X</h3>

<p>Mac OS X should detect open networks automatically. When you walk into a location offering 
    wifi a box will appear on screen asking if you would like to join the available network. 
    Tell it you would and you will be online!</p>

<h3>Windows XP</h3>

<p>Most installations of windows XP should automatically detect wireless networks and indicate 
    as much in the system tray.</p>


