<h2>GRWifi.net Purpose Statement</h2>

<p>GRWifi.net is a site to point out 802.11 wireless networking hotspots in the 
    greater Grand Rapids area.  At this point it's all "free" coffee shop style 
    hot spots, but in the future we hope to add other places like hotels.</p>

<p>The site began as a series of reviews of wireless internet service options over at 
    <a href="http://www.pokeintheeye.org">pokeintheeye.org</a> which served as a 
    resource for local telecommuters/consultants and the odd visitor. 
    <a href="http://derosia.com/phlog/">Topher</a> brought it to its own domain name, 
    and then <a href="http://jystewart.net">James Stewart</a> gave it its current look 
    and features.</p>

<p>It is hoped that this site will encourage adoption of wifi by residents of and visitors 
    to Grand Rapids, help those looking for locations find the right place for them, and 
    encourage high quality service where it is provided. If any Grand Rapids area business 
    owners are looking to discuss the benefits of providing wifi to their customers we'd 
    be very happy to discuss that with them and help them promote it.</p>

<p>This site is built using <a href="http://www.rubyonrails.org">Ruby on Rails</a>, developed 
    on a mac with the <a href="http://www.macromates.com">textmate</a> editor and 
    <a href="http://locomotive.raaum.org">locomotive</a>, and hosted by the fine people 
    at <a href="http://www.textdrive.com">textdrive</a>. All pages are valid XHTML and CSS,
    and <a href="http://www.microformats.org">microformats</a> are used where appropriate
    for your remixing pleasure.</p>


