<h2>Grand Rapids and Related Links</h2>

<ul>
    <li><a href="http://www.localfirst.com">Local First</a>
        <p>One of Grand Rapids' greatest strengths is its range of community owned 
        businesses. This directory exists to help you find and support them.</p></li>
        
    <li><a href="http://www.g-rad.org">G-Rad</a>
        <p>A community-run site covering all sorts of happenings around the town,
        particularly focussed on arts.</p></li>

    <li><a href="http://www.urbanplanet.org/forums/index.php?showforum=73">Grand Rapids Board at Urban Planet</a>
        <p>Urban Planet is a discussion forum for people interested in the phenomenon 
        and future of cities, and the home of interesting discussions about the future 
        of Grand Rapids.</p></li>
    
    <li><a href="http://www.puregr.com">pureGR</a>
      <p>"All Grand Rapids, All Night. Support our local art and music! Sign up today and post your 
        events, news, and music for free! Get Involved!"</p>
</ul>
