<h2>Editing location <%= @location.name %></h2>

<%- semantic_form_for(@location) do |form| -%>
  <%= render :partial => 'inputs', :locals => {:f => form} %>
<%- end -%>

<p><%= link_to 'Show', @location %> | <%= link_to 'Back', locations_path %></p>

