<h2>All Hotspots On A Map</h2>

<p>(<em><%= link_to 'View These Results As A List', :action => 'index' %></em>)</p>

<div class="results">
    <%= raw @map.div %>
</div>

<% content_for :javascript do %>
  <%= raw Mapstraction.header(:google) %>
  <%= raw @map.to_html %>
<% end %>